.abc{
    background-image: url('https://products.ls.graphics/mesh-gradients/images/59.-Light-Blue.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.de{
    background-color: rgba(211, 211, 211, 0.35);
}